@font-face {
  font-family: Rajdhani;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(fonts/Rajdhani-Light.ttf) format("truetype");
}

@font-face {
  font-family: Rajdhani;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/Rajdhani-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Rajdhani;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(fonts/Rajdhani-Medium.ttf) format("truetype");
}

@font-face {
  font-family: Rajdhani;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(fonts/Rajdhani-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: Rajdhani;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(fonts/Rajdhani-Bold.ttf) format("truetype");
}
