@font-face {
  font-family: Rajdhani;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(fonts/Rajdhani-Light.ttf) format("truetype");
}
@font-face {
  font-family: Rajdhani;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/Rajdhani-Regular.ttf) format("truetype");
}
@font-face {
  font-family: Rajdhani;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(fonts/Rajdhani-Medium.ttf) format("truetype");
}
@font-face {
  font-family: Rajdhani;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(fonts/Rajdhani-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: Rajdhani;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(fonts/Rajdhani-Bold.ttf) format("truetype");
}
body {
  margin: 0;
  background-color: lightgrey;
  font-family: Rajdhani;
}
.side-panel {
  float: left;
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.side-panel .side-panel-left {
  background-color: #001919;
  text-align: center;
}
.side-panel .side-panel-left .fa-icon {
  color: gray;
}
.side-panel .side-panel-right {
  width: 180px;
  background-color: #003232;
  padding-left: 10px;
}
.side-panel .side-panel-right .menu-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: lightgrey;
  line-height: 0px;
}
.side-panel .side-panel-right .menu-link:hover {
  color: white;
}
.side-panel .side-panel-header {
  height: 80px;
  margin-top: 20px;
}
.side-panel .side-panel-header .header-image {
  border-radius: 50%;
  width: 40px;
}
.side-panel .side-panel-header .header-text {
  font-size: 26px;
  font-weight: 600;
  color: lightgrey;
}
.side-panel ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
}
.side-panel li {
  line-height: 50px;
}
