$theme-primary: rgb(0, 25, 25);
$theme-secondary: rgb(0, 50, 50);
$theme-accent: teal;
$theme-background: white;
$theme-primary-text: lightgrey;
$theme-secondary-text: lightgrey;

$nav-full: 180px;
$nav-compact: 40px;

// Bootstrap
$primary: $theme-accent;
$secondary: $theme-accent;

$headings-font-weight: 600;
