$theme-primary: rgb(0, 25, 25);
$theme-secondary: rgb(0, 50, 50);
$theme-accent: teal;
$theme-background: white;
$theme-background2: rgb(245, 245, 245);
$theme-text: black;

$theme-dark-background: rgb(12, 12, 12);
$theme-dark-background2: rgb(25, 25, 25);
$theme-dark-text: lightgrey;

$nav-compact: 40px;
$nav-full: $nav-compact + 180px;
$nav-text: lightgrey;
$footer-height: 250px;

$font-xs: 0.7rem;
$font-small: 0.85rem;
$font-regular: 1em;
$font-large: 1.15rem;
$font-xl: 1.3rem;

// Bootstrap
$h1-font-size: 2rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1rem;

$headings-font-weight: 700;

$primary: $theme-accent;
$secondary: grey;

$enable-smooth-scroll: false;
