<html>
  <head>
    <title>Activate Account</title>
  </head>
  <body>
    <p>Hi {{username}}</p>
    <p>
      Thanks for registering on my site. Please click
      <a href="{{url}}">Here</a>
      to activate your account.
    </p>
    <p>Kind regards</p>
    <p>Adam</p>
  </body>
</html>